@model ProjectionView._2.Features.Jobs.Edit.View
@{
}
<h2>@Model.Job.Name</h2>
<form asp-action="Edit" method="post">
	<input asp-for="Job.Id" type="hidden" />
	<label asp-for="Job.Name"></label>
	<input asp-for="Job.Name" />
	<br />
	<label asp-for="Job.CsrId">CSR</label>
	<select asp-for="Job.CsrId" asp-items="Model.CsrsSelectListItems">
		<option></option>
	</select>
	<br />
	<label asp-for="Job.StateId">State</label>
	<select asp-for="Job.StateId" asp-items="Model.StatesSelectListItems">
		<option></option>
	</select>
	<br />
	<label asp-for="Job.StatusId">Status</label>
	<select asp-for="Job.StatusId" asp-items="Model.StatusesSelectListItems">
		<option></option>
	</select>
	<br />
	<label asp-for="Job.TypeId">Type</label>
	<select asp-for="Job.TypeId" asp-items="Model.TypesSelectListItems">
		<option></option>
	</select>
	<br />
	<br />
	<button>Save</button>
</form>