@model ProjectionView._4.Features.Dashboard.Default.View
<h2>Dashboard</h2>
<table>
	<tr>
		<th>Employees</th>
		<th>Jobs</th>
	</tr>
	<tr>
		<td>@Model.EmployeesCount</td>
		<td>@Model.JobsCount</td>
	</tr>
</table>